body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffe5a2;
    height: 100%;
  }

header{
  display:flex;
  height: 120px;
  margin: 0;
  background-color: #77efef;
  position:relative;
  top: -10px;
  right: -10px;
  left: -10px;
  width: 102%; 
}
  .logo{
float:left;
 padding: 1cm;
  padding-right: 0;
  padding-left: 1cm;
  padding-top: .25cm;
}
.hortizontal{
  float: left;
  list-style-type: none;
  margin: 0; 
  overflow: hidden;
  background-color: #77efef;
  
  
}
 .hor{display: inline;
float: left;
color: #0c4665;
text-align:center;
padding: 30px 60px;
text-decoration: none;
font-size: 18px;

}
.hor:hover{background-color: #17ADDD;}
.text{color: #0c4665;
}
  .vertical{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:auto;
    font-size: 15px;
    color: #0c4665;
    padding-right: 7%;
    padding-top: 1.5%;
  }
  .vert{
    display: block;
    text-align: left;
    color:#0c4665;
    padding: 10px;
  }
  a:link {
    color:#0c4665;
  }
  a:visited {
    color: #0c4665
  }
  a:hover {
    color:#77efef;
  }
  a:active {
    color: #ffe5a2;
  }
  .heroimg{
    padding-top: 80px;
    padding-bottom: 0px;;
    background-image: url("../images/Rectangle\ 39.png");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  }
.headshot{
  float: right;
  margin-left:auto;
  margin-top: -70px;
  margin-right: 100px;
}
.herotext{
  position:relative;
  margin-bottom: 80px;
  margin-left: 80px;
  color:#0c4665;
  margin-top:60px;
  width: 65%
}
.project{
  padding: 80px;
  background-image: url("../images/Rectangle\ 40.png"); 
  height:100%;
  background-position: center;
  background-repeat: no-repeat;

}
.img{
  margin-top: -60px;
  margin-left: auto;
  margin-right: 5%;
  float: right;
  
}
.projecttext{
  position:relative;
  margin-left: 0%;
  margin-top: 20px;
  color:#0c4665;
  padding: 2.5%;
  width: 60%;
}
footer{display: flex;
  height: 120px;
  background-color: #77efef;
  margin-top: 30px;
  position: relative;
  width: 102%;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
.copyright{
  font-size: 12px;
}

 /*my skills*/
h1{
  color:#0c4665;
  text-align: center;
}
/*My skills section coded using css flex-->*/

.flexContainer{
display: flex;
flex-direction: row;
}  
.skill{
  background-image:url("myskills\images\Rectangle24.png");
  height:100%;
background-position: center;
background-repeat: no-repeat;
  width: 33%;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;
  margin-right: 20px;
  margin-left: 20px;
}
.skillimage{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
h3{
  text-align: center;
  color:#0c4665
}

.skillp{
  color:#0c4665;
  padding-bottom: 50px;
  padding-left: 80px;
  width: 68%;
}

 

/* about me*/
h1{
  color:#0c4665;
  text-align: center;
}
.fullwidth{
  margin-left: 0;
}
.content{
  background-image: url("../aboutme/images/bluewave.png");
  height:20%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 110px;
}
.about{
  color:#0c4665;
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
  padding-top: 50px;

}
  button{
  background-color: #0c4665;
  border: none;
  color:#ffe5a2;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 200px;
}
button:hover{background-color: #17ADDD;
}

/* comment about grid homework*/
.aboutGrid{
  margin:20px;
  display: grid;
  grid-template-rows: 300px 300px 300px;
   grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: 
   "usda sniffrstory sniffrRoo"
"userflow userflow sniffrRoo"
"myplate ctrfoster ctrfoster";
}
#usda{
  grid-area: usda;
  background-image: url("../aboutme/images/myplategreen.png");
 
  
}
#sniffrstory{
  grid-area: sniffrstory;
  background-image: url("../aboutme/images/sniffrstory.png");
  
}
#sniffrRoo{
  grid-area: sniffrRoo;
  background-image: url("../aboutme/images/sniffrRoo.png");
  
}
#userflow{
  grid-area: userflow;
 background-image: url("../aboutme/images/userflow.png");
}
#myplate{
  grid-area: myplate;
  background-image: url("../aboutme/images/myplateorange.png");
 
}
#ctrfoster{
  grid-area: ctrfoster;
  background-image: url("../aboutme/images/ctrfoster.png");
  
}
.categoryGrid{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

/*my work*/
h1{
  color: #0c4665;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}
.project{
  padding: 80px;
  background-image: url("../images/Rectangle\ 40.png"); 
  height:100%;
  background-position: center;
  background-repeat: no-repeat;

}
.imgwork{
  margin-left: auto;
  margin-right: 5%;
  float: right;
  margin-top: -30px;
}
.projecttext{
  position:relative;
  margin-left: 0%;
  margin-top: 60px;
  color:#0c4665;
  padding: 2.5%;
  width: 65%;
}
  button{
      background-color: #0c4665;
      border: none;
      color:#ffe5a2;
      padding: 15px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 200px;
    }
    button:hover{background-color: #17ADDD;
  }


@media only screen and (max-width: 600px){
  .logo{
      padding-left: 15px;
      padding-right: 15px;
  }
  .hor{
  padding: 30px 30px;
  font-size: 16px;
}
  .vertical{
    padding-right: 3%;
    font-size: 14px;
  }
  .heroimg{
    padding-top:0px;
    padding: 2%;
    background-image: url("../images/Rectangle\ 16.png");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  }
.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 0px;
  margin-right:0px;
}
.herotext{
  position:relative;
  margin-bottom: 80px;
  color:#0c4665;
  margin-top:3cm;
  width: 62%
}
  .project{
      padding: 130px;
      background-image: url("../images/Rectangle\ 16.png"); 
      height:100%;
      background-position: center;
      background-repeat: no-repeat;
  }
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     margin-top: 20px;

  }
  .projecttext{
    position:relative;
    width: 100%;
      
  }
  .project{
      padding: 90px;
      background-image: url("../images/Rectangle\ 16.png"); 
      height:100%;
      background-position: center;
      background-repeat: no-repeat;
  }
  .image{
      float:left;
      margin-top: 0px;

  }
  .projecttext{
      width: 100%;   
  }
  button{
     
      padding: 15px 18px;
      font-size: 14px;
      float: center;
      margin-left: 150px;
    }
    .aboutGrid{
      margin:20px;
      height: 100%;
      display: grid;
      grid-template-rows: 100% 100% 100% 100% 100% 100%;
       grid-template-columns: 1fr;
      grid-template-areas: 
       "usda"
       "sniffrstory" 
       "sniffrRoo"
  "userflow" 
  "myplate" 
  "ctrfoster"; 
  }  
  .flexContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.skill{
  width:100%;
}


 }
 @media only screen and (max-width: 1250px){
 .logo{
  padding-right: 5px;
  padding-left: .5cm;
 }
  .hor{padding: 30px 20px;
  font-size: 16px;
}
  .vertical{
    padding-right: 5px;
    font-size: 14px;
  }

 }
 