body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffe5a2;
    height: 100%;
  }

header{
  display:flex;
  height: 120px;
  margin: 0;
  background-color: #77efef;
  position:relative;
  top: -10px;
  right: -10px;
  left: -10px;
  width: 102%;

  
  
}
  .logo{
float:left;
 padding: 1cm;
  padding-right: 1cm;
  padding-left: 1cm;
  padding-top: .25cm;
}
.hortizontal{
  float: center;
  list-style-type: none;
  margin: 0; 
  overflow: hidden;
  background-color: #77efef;
  
}
 .hor{display: block;
float: left;
color: #0c4665;
text-align:center;
padding: 30px 60px;
text-decoration: none;
font-size: 18px;
}
.hor:hover{background-color: #17ADDD;}
.text{color: #0c4665;
}
  .vertical{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:auto;
    font-size: 15px;
    color: #0c4665;
    padding-right: 7%;
    padding-top: 1.5%;
  }
  .vert{
    display: block;
    text-align: left;
    color:#0c4665;
    padding: 10px;
  }
  .heroimg{
    padding: 5%;
    background-image: url("../images/Rectangle\ 39.png");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  }
.headshot{
  float: right;
  margin-left:auto;
  margin-top: -110px;
  margin-right: 30px;
}
.herotext{
  position:relative;
  margin-bottom: 80px;
  color:#0c4665;
  margin-top:3cm;
  width: 65%
}
.project{
  padding: 80px;
  background-image: url("../images/Rectangle\ 40.png"); 
  height:100%;
  background-position: center;
  background-repeat: no-repeat;

}
.img{
  margin-left: auto;
  margin-right: 5%;
  float: right;
  margin-top: -30px;
}
.projecttext{
  position:relative;
  margin-left: 0%;
  margin-top: 20px;
  color:#0c4665;
  padding: 2.5%;
  width: 60%;
}
footer{display: flex;
  height: 120px;
  background-color: #77efef;
  margin-top: 30px;
  position: relative;
  width: 102%;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
.copyright{
  font-size: 12px;
 
  

}
@media only screen and (max-width: 600px){
  .hor{padding: 0;
  font-size: 14px;}
  .vertical{
    padding-right: 1%;
    font-size: 12px;
  }

 }
 @media only screen and (max-width: 1250px){
 .logo{
  padding-right: 0;
  padding-left: .5cm;

 }
  .hor{padding: 5px 10px
  font-size: 16px;
}
  .vertical{
    padding-right: 0;
    font-size: 14px;
  }
  .headshot{ 
    top-margin: -65px;
  }

 }
  
 
